@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  @apply outline-none border border-zinc-200 focus:border-teal-500 rounded-sm h-14;
}

.text-stroke-zinc {
        -webkit-text-stroke: 0.5px #18181b;
        text-stroke: 0.5px #18181b;
}

.text-stroke-white {
  -webkit-text-stroke: 0.5px #fff;
  text-stroke: 0.5px #fff;
}
